extends ../layout

block content
    //- header
    div(class="relative bg-pink-600 md:pt-16 pb-16 pt-12")
        div(class="px-4 md:px-10 mx-auto w-full")
            div
            //- card
            .flex.flex-wrap 
              div(class="w-full xl:w-4/12 px-4")
                div(class="relative flex flex-col min-w-0 break-words bg-white rounded mb-6 xl:mb-0 shadow-lg")
                  div.flex-auto.p-4
                    .flex.flex-wrap
                      div.relative.w-full.pr-4.max-w-full.flex-grow.flex-1
                        h5.text-gray-500.uppercase.font-bold.text-xs= place.title
                        span.font-semibold.text-xl.text-gray-800 Voie N° #{track.number} 
                    //-   .relative.w-auto.pl-4.flex-initial
                    //-     .text-white.p-3.text-center.inline-flex.items-center.justify-center.w-12.h-12
                    //-       button(class="bg-indigo-500 text-white active:bg-indigo-600 font-bold uppercase px-3 py-1 rounded outline-none focus:outline-none mr-1 mb-1",type="button",style="transition:all .15s ease")
                    //-         i.fas.fa-arrow-left                    
                    p.text-sm.text-gray-500.mt-4
                        ul(class="flex flex-wrap list-none")
                            li
                                span(class="text-gray-700 text-sm font-semibold block py-1 px-3") #{track.height} mètres
                            li
                                span(class="text-gray-700 text-sm font-semibold block py-1 px-3")= track.difficulty
    //- main
    div(class="px-4 md:px-10 mx-auto w-full -m-16")
        .flex.flex-wrap.mt-4
            div(class="w-full xl:w-4/12 mb-12 xl:mb-0 px-4")
                .relative.flex.flex-col.min-w-0.break-words.bg-white.w-full.mb-6.shadow-lg.rounded
                    .rounded-t.mb-0.px-4.py-3.border-0
                        .flex.flex-wrap.items-center
                            .relative.w-full.px-4.max-w-full.flex-grow.flex-1
                                h3.font-semibold.text-base.text-gray-800 Historique
                            .relative.w-full.px-4.max-w-full.flex-grow.flex-1.text-right
                                -var url ='window.location.href="/topo/'+ place.id + '/'+ track.id + '/run"'
                                button(class="bg-indigo-500 text-white active:bg-indigo-600 px-3 py-1 rounded outline-none focus:outline-none mr-1 mb-1",type="button",style="transition:all .15s ease",onclick=url)
                                        i.fas.fa-plus
                    //- table
                    table.items-center.w-full.bg-transparent.border-collapse
                        thead
                            tr
                                th.px-6.bg-gray-100.text-gray-600.align-middle.border.border-solid.border-gray-200.py-3.text-xs.uppercase.border-l-0.border-r-0.whitespace-no-wrap.font-semibold.text-left
                                    | Date
                                th.px-6.bg-gray-100.text-gray-600.align-middle.border.border-solid.border-gray-200.py-3.text-xs.uppercase.border-l-0.border-r-0.whitespace-no-wrap.font-semibold.text-left
                                    | 
                                th.px-6.bg-gray-100.text-gray-600.align-middle.border.border-solid.border-gray-200.py-3.text-xs.uppercase.border-l-0.border-r-0.whitespace-no-wrap.font-semibold.text-left
                        tbody 
                            each run in runs   
                                tr
                                    td.border-t-0.px-6.align-middle.border-l-0.border-r-0.text-xs.whitespace-no-wrap.p-4
                                        | #{moment(run.date).format('MMMM Do YYYY')}
                                    td.border-t-0.px-6.align-middle.border-l-0.border-r-0.text-xs.whitespace-no-wrap.p-4
                                        - var i = 0;
                                        while i<run.score
                                            - i++
                                            i.fas.fa-star
                                        - var i = 4;
                                        while i>=run.score
                                            - i--
                                            i.far.fa-star
                                    td.border-t-0.px-6.align-middle.border-l-0.border-r-0.text-xs.whitespace-no-wrap.p-4.text-center
                                        - var action="topoRouteInstance.deleteRun('"+run.id+"')"
                                        button(class="bg-red-500 text-white active:bg-indigo-600 px-3 py-1 rounded outline-none focus:outline-none mr-1 mb-1",type="button",style="transition:all .15s ease",onclick=action)
                                            i.fas.fa-minus-circle          
                                    
                                